body {
    background-color: black;
    font-family: monospace;
    color: white;
    overflow-x: hidden;
}

header {
    text-align: center;
}

.links {
    justify-content: center;
    display: flex;
    overflow-x: wrap;
}

.fake_button {
    display: block;
    width: 15%;
    height: 5rem;
    border-radius: 10px;

    background-color: white;
    color: black;
    text-align: center;

    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin: 2rem;
}

@media (hover:hover) {
    .fake_button:hover {
        background-color: rgb(200,200,200);
        transition-duration: 250ms; 
    }
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#click_counter {
    user-select: none;
}

#click_timer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    user-select: none;
}

#hit_circle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

    transition: left 100ms, top 100ms;
    
    background-color: white;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#hit_circle:hover {
    background-color: grey;
}

#aim_timer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    user-select: none;
}

#home {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(0%, -100%);
    margin-left: 1rem;
    color: white;
    user-select: none;
}

.key {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(200, 125, 50);
    position: absolute;
    transition: left 300ms, top 300ms;
}

#precision_circle {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: white;
    border-radius: 50%;
    transform: translate(0%, -50%);
}

#hit_line {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 5px;
    height: 100px;
}

#screen_dimension_searcher {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
}

#popup {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

#tip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%); /* I have to do this for some reason, -100% doesn't work*/
    margin: 0px;
}

/* This CSS file is a fricking dumpster fire wth */

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); /* For some reason the top is weird and I don't know like why this works but it does */
    font-size: 5rem;
}

#timing_timer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.text_list {
    margin-left: 40%;
}

a {
    color: white;
}

.selection_button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
}

#button1 {
    position: absolute;
    top: 70%;
    left: 6%;
    background-color: red;
}

#button2 {
    position: absolute;
    top: 70%;
    left: 12%;
    background-color: orange;
}

#button3 {
    position: absolute;
    top: 70%;
    left: 18%;
    background-color: yellow;
}

#button4 {
    position: absolute;
    top: 70%;
    left: 24%;
    background-color: green;
}

#button5 {
    position: absolute;
    top: 70%;
    left: 30%;
    background-color: cyan;
}

#button6 {
    position: absolute;
    top: 70%;
    left: 36%;
    background-color: blue;
}

#button7 {
    position: absolute;
    top: 70%;
    left: 42%;
    background-color: purple;
}

#button8 {
    position: absolute;
    top: 70%;
    left: 48%;
    background-color: pink;
}

#select_buttons {
    display: none;
}

#text {
    /* Not to be confused with the text class */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#typing_timer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}
